.container{
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
}

.top-bar{
  text-align: center;
  font-size: 32px;
}

md-form-field{
  min-width: 300px;
}

.key-holder, .manage-tags{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.key-holder-key{
  margin-right: 20px;
}
.key-holder-key-content{
  background: #3f51b5;  
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: 24px;
}
.item-class{
  cursor: pointer;
}
.key-holder-close{
  text-align: right;
}

.key-holder-close .fa-times{
  text-align: right;
  font-size: 20px;
  -webkit-text-stroke: 4px white;
}

.key-holder-close .fa-times:hover{
  -webkit-text-stroke: 3px white;
}

.fa-tag{
  color: brown;
}

.mat-ink-bar {
  position: absolute;
  bottom: 0;
  height: 2px;
  transition: .5s cubic-bezier(.35,0,.25,1);
}

.tweet-holder{
   display: flex;
   justify-content: start;
   overflow-x: scroll;
   padding: 10px 0px 10px 0px;
}

.tweet-holder-box{
  padding: 10px;
  background: white;
  box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.25);
}

.tweet-anchor-holder-box{
  max-height: 500px;
  overflow-y: scroll;
}
.timeline-Header-title {
  font-size: 21px;
  font-weight: 300;
  line-height: 24px;
  color: #292F33;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.customisable-highlight{
  color: #3b94d9;
  text-decoration: none;
  outline: 0;
}
.timeline-Header-byline {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #8899A6;
} 

i{
  cursor: pointer;
}

.twitter-timeline{
  display: none;
}
.widget-available{
  color: powderblue;
}

a{
  color: white;
}

.selected, .tag-selector-holder a:hover{
  color: darkorange;
}

.hide{
  display:none;
}
.tag-selector:not(.hide){
  display:flex;
}

.tag-selector-icon{
  font-size: 14px;
  text-align: center;
}
.tag-selector-holder{
  margin-right: 20px;
}
.tag-selector .tag-selector-holder:last-child{
  margin-right: 0px;
}

.label-icon-fa, .md-tab-label i, .md-tab-label .fa{
  padding-right: 10px;
  padding-top: 1px;
}

.tag-selector .tag-selector-holder:first-child{
display: none;
}
#user-msg{
  position: absolute;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  color: #b30000;
}

.devider-line{
  border-bottom: 1px solid #ccc;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: -5px;
}

.mat-tab-label {
  min-width: 75px;
} 

.no-tweets-by{
  padding-top: 20px;
}

.fa-eye-slash{
  color: #626262;
}
@media screen and (max-width: 700px) {
  .top-bar{
    font-size: 22px;
  }

  .key-holder-key-content {
    font-size: 18px;
    padding: 5px;
  }
}